@use "sass:color";
@use 'variables' as *;

// Default layout styles (for other pages)
// .container {
//     max-width: 1200px;
//     margin: 0 auto;
//     padding: 0 20px;
// }

// Main content (for default layout)
main {
    min-height: calc(100vh - 200px);
    padding: 3rem 0;
}

article {
    background-color: none;
    padding: 2rem;
    border-radius: 8px;
}

h1 {
    color: $primary-color;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

h2 {
    color: $primary-color;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

h3 {
    color: $accent-color;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.8;
}

a {
    color: $accent-color;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

ul {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

// Navigation
.navbar {
    $padding: .5rem;
    $border-radius: .5rem;

    background-color: color.adjust($off-white, $alpha: -0.33);
    backdrop-filter: blur(10px);
    padding: $padding;
    position: sticky;
    top: 2rem;
    box-shadow: $box-shadow;
    border-radius: calc($border-radius + $padding);
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    z-index: 100;
    
    .container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    ul.nav-menu {
        display: flex;
        gap: 2rem;
        list-style: none;
        margin: 0;
        padding: $padding;

        li {
            border-color: $white;
        }
    }

    .nav-link {
        color: $text-color;
        text-decoration: none;
        transition: color 0.3s ease;
        transition: border 0.3s ease;
        padding: .5rem 1rem;
        border-radius: $border-radius;
        border: 1px solid color.adjust($white, $lightness: -10%);
        
        &:hover {
            border-bottom: 3px solid $accent-color;
            color: $accent-color;
        }
        
        &.active {
            border-bottom: 3px solid $accent-color;
            color: $accent-color;
        }
    }
}

.logo {
    color: $white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    
    &:hover {
        color: $accent-color;
    }
}

// Footer
footer {
    background-color: $primary-color;
    color: $white;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}