@use "sass:color";
@use 'variables' as *;

// Default layout styles (for other pages)
// .container {
//     max-width: 1200px;
//     margin: 0 auto;
//     padding: 0 20px;
// }

// Home layout with sidebar
.home-layout {
   
}

 .layout-wrapper {
        display: flex;
        min-height: 100vh;
}

.main-content {
    margin-left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
    padding: 3rem 4rem;
}

// Footer
footer {
    background-color: $primary-color;
    color: $white;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}