@use "sass:color";
@use 'variables' as *;

@mixin navigation($padding, $box-shadow, $border-radius) {
    background-color: color.adjust($off-white, $alpha: -0.33);
    backdrop-filter: blur(10px);
    padding: $padding;
    position: sticky;
    top: 2rem;
    box-shadow: $box-shadow;
    border-radius: calc($border-radius + $padding);
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    z-index: 100;
}

@mixin custom-scrollbar (
    $thumb-color: $accent-color,
    $track-color: $light-bg,
    $width: 8px
) {
    &::-webkit-scrollbar {
        width: $width;
        height: $width;
    }

    &::-webkit-scrollbar-track {
        background: $track-color;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumb-color;
        border-radius: 4px;

        &:hover {
            background: color.adjust($thumb-color, $lightness: -10%);
        }
    }
}