@use "sass:color";
@use 'variables' as v;

@mixin navigation($padding, $box-shadow, $border-radius) {
    background-color: color.adjust(v.$off-white, $alpha: -0.33);
    backdrop-filter: blur(10px);
    padding: $padding;
    position: sticky;
    top: 2rem;
    box-shadow: $box-shadow;
    border-radius: calc($border-radius + $padding);
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    z-index: 100;
}