@use "sass:color";
@use 'variables' as *;

// Navigation
.navbar {
    $padding: .5rem;
    $border-radius: .5rem;

    background-color: color.adjust($off-white, $alpha: -0.33);
    backdrop-filter: blur(10px);
    padding: $padding;
    position: sticky;
    top: 2rem;
    box-shadow: $box-shadow;
    border-radius: calc($border-radius + $padding);
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    z-index: 100;
    
    .container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    ul.nav-menu {
        display: flex;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: $padding;

        li {
            // border-color: $white;
        }
    }

    .nav-link {
        display: inline-block;
        white-space: nowrap;
        color: $text-color;
        text-decoration: none;
        transition: color 0.3s ease;
        transition: border 0.3s ease;
        padding: .5rem 1rem;
        border-radius: $border-radius;
        border: 1px solid color.adjust($white, $lightness: -10%);
        
        &:hover {
            border-bottom: 3px solid $accent-color;
            color: $accent-color;
        }
        
        &.active {
            border-bottom: 3px solid $accent-color;
            color: $accent-color;
        }
    }
}

.logo {
    color: $white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    
    &:hover {
        color: $accent-color;
    }
}