@use "sass:color";
@use 'variables' as *;
@use 'mixins';

// Navigation
.navbar {

    @include mixins.navigation($padding, $box-shadow, $border-radius);
    
    .container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    ul.nav-menu {
        display: flex;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: $padding;

        li {
            // border-color: $white;
        }
    }

    .nav-link {
        display: inline-block;
        white-space: nowrap;
        color: $text-color;
        text-decoration: none;
        transition: color 0.3s ease;
        transition: border 0.3s ease;
        padding: .5rem 1rem;
        border-radius: $border-radius;
        border: 1px solid color.adjust($white, $lightness: -10%);
        
        &:hover {
            border-bottom: 3px solid $accent-color;
            color: $accent-color;
        }
        
        &.active {
            border-bottom: 3px solid $accent-color;
            color: $accent-color;
        }
    }
}

.logo {
    color: $white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    
    &:hover {
        color: $accent-color;
    }
}

.mobile-menu-toggle {
    @include mixins.navigation($padding, $box-shadow, $border-radius);
    display: none;
}

.mobile-nav {
    display: none;
}

@media (max-width: 1024px) {

    .mobile-menu-toggle {
        display: block;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: auto;
        position: static;

    }

    //hide desktop navbar
    .main-content .navbar {
        display: none;
    }

    .mobile-nav {
        display: none;

        &.nav-open {
            display: block;
        }
    }

    .mobile-nav .navbar {
        position: absolute;
        top: 5rem;
        right: 1rem;
    
        .container {

            ul.nav-menu {
                flex-direction: column;

                .nav-link {
                    width: 100%;
                    text-align: center;
                }

            }
        }
    }

}