@use "sass:color";
@use 'variables' as *;
@use 'mixins';

// Navigation
.navbar {

    @include mixins.navigation($padding, $box-shadow, $border-radius);
    
    .container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    ul.nav-menu {
        display: flex;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: $padding;

    }

    .nav-link {
        display: inline;
        white-space: nowrap;
        color: $text-color;
        text-decoration: none;
        transition: color 0.3s ease;
        transition: border 0.3s ease;
        padding: .5rem 1rem;
        border-radius: $border-radius;
        border: 1px solid $light-gray-color;
        
        &:hover {
            border-bottom: 3px solid $accent-color;
        }
        
        &.active {
            border-bottom: 3px solid $accent-color;
            color: $accent-color;
        }
    }
}

.logo {
    color: $white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    
    &:hover {
        color: $accent-color;
    }
}

.mobile-menu-toggle {
    @include mixins.parimary-btn($padding, $border-radius, $box-shadow);
    // border: 1px solid color.adjust($primary-color, $lightness: 20%);
    display: none;
}

.mobile-nav {
    display: none;
}

@media (max-width: $breakpoint-tablet) {

    .mobile-menu-toggle {
        display: block;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: auto;
        position: static;
        // border: none;
        // border-radius: .5rem;
        // padding: .5rem;
        // font-size: 1.25rem;
        // color: $off-white;

    }

    //hide desktop navbar
    .main-content .navbar {
        display: none;
    }

    .mobile-nav {
        display: none;

        &.nav-open {
            display: block;
        }
    }

    .mobile-nav .navbar {
        position: absolute;
        top: 6rem;
        right: 1rem;
        width: 200px;

        .container {
            display: block;

            ul.nav-menu {
                flex-direction: column;

                .nav-link {
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-size: larger;
                }

            }
        }
    }

}

@media (max-width: $breakpoint-mobile) {

    .nav-menu {
        gap: 1rem;
        font-size: 0.9rem;
    }

}