@use "sass:color";
@use 'variables' as *;

//projects page
#projects {
    article {
        background: none;
    }
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 1024px) {
    #projects {
        
        article {
            padding: 0;
        }
        
        .projects-grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}