@use "sass:color";
@use 'variables' as *;

// Responsive
@media (max-width: 1024px) {
    .home-layout {
        .sidebar {
            width: 300px;
        }
        
        .main-content {
            margin-left: 300px;
            width: calc(100% - 300px);
            padding: 2rem;
        }
    }
}

@media (max-width: 768px) {
    .home-layout {
        .layout-wrapper {
            flex-direction: column;
        }
        
        .sidebar {
            width: 100%;
            position: static;
            height: auto;
            padding: 2rem 1.5rem;
        }
        
        .main-content {
            margin-left: 0;
            width: 100%;
            padding: 2rem 1.5rem;
        }
        
        .avatar img {
            width: 150px;
            height: 150px;
        }
        
        .profile-name {
            font-size: 1.5rem;
        }
    }
    
    .project-item {
        flex: 0 0 300px;
    }
    
    .experience-meta {
        flex-direction: column;
        gap: 0.5rem !important;
    }
    
    .nav-menu {
        gap: 1rem;
        font-size: 0.9rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .project-detail {
        .content-row {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1.5rem;

            h2 {
                flex: none;
                align-content: flex-start;
                color: $primary-color;
                margin: 0;
                font-size: 1.8rem;
            }
            
            h3 {
                color: $accent-color;
                margin-top: 2rem;
                margin-bottom: 0.8rem;
                font-size: 1.4rem;
            }
            
            p {
                margin-bottom: 1rem;
            }

            .content-body {
                flex: none;
                margin-bottom: 1.5rem;
            }
        }
    }
}