@use "sass:color";
@use 'variables' as *;

// Responsive

//Tablet
@media (max-width: $breakpoint-tablet) {
    .layout-wrapper {
        flex-direction: column;

        .main-content {
            margin: 0;
            width: 100%;
            padding: 1rem;
        }
    }
}