// Variables
$primary-color: #2c3e50;
$accent-color: #3498db;
$text-color: #333;
$light-bg: #ecf0f1;
$white: #ffffff;
$off-white: #fafafa;
$sidebar-width: 400px;
$box-shadow: 0 2px 5px rgba(0,0,0,0.1);

$padding: .5rem;
$border-radius: .5rem;